/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.el-main {
    background-color: rgb(236, 245, 255);
}

/* 模糊 */
.allblur {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    zoom: 1;
}